@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; align-items: center">
        <h1>Seja bem-vindo(a) ao cadastro no ASP.NET MVC</h1>
        <img src="http://www.taubate.sp.gov.br/wp-content/uploads/2020/05/cadastro-750x350.png" alt="Imagem de cadastro" height="450"/>
    </div>
</body>
</html>