@model PersonTable.Models.Pessoas

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro - Editar</title>
</head>
<body>
    <h1>Cadastro - Editar</h1>

    <form asp-action="Editar" asp-controller="Pessoas" method="post">

        <input type="hidden" asp-for="IdTipo" />
        <div class="form-horizontal">
            <hr />

            <div class="form-group">
                <label>Nome</label>
                <div class="col-md-10">
                    <input asp-for="Nome" />
                </div>
            </div>

            <div class="form-group">
                <label>Endereço</label>
                <div class="col-md-10">
                    <input asp-for="Endereço" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="reset" value="Limpar" class="btn btn-default" />
                    <input type="submit" value="Gravar Alteração" class="btn btn-default" />
                </div>
            </div>
            <hr />
        </div>
    </form>

    <div>
        <a asp-controller="Pessoas" asp-action="Index">Voltar</a>
    </div>

</body>
</html>